* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $font-family-sans-serif;
  color: $text-main-color;
}

.home-page {
  main {
    margin-top: 60px;
    margin-bottom: 120px;
  }

  h1 {
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
  }
}

.home-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('../images/homeHeader.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.time-to-concert {
  display: grid;
  grid-template-areas:
    "d-time d-text"
    "h-time h-text"
    "m-time m-text"
    "s-time s-text";
  column-gap: 10px;
  justify-content: flex-end;
  width: 290px;
  margin: auto;
  font-size: 55px;
  font-weight: 800;
  line-height: 1;
  text-transform: uppercase;

  * {
    color: white;
  }
}

.days {
  &__time {
    grid-area: d-time;
    justify-self: flex-end;
  }
  &__text {
    grid-area: d-text;
  }
}

.hours {
  &__time {
    grid-area: h-time;
    justify-self: flex-end;
  }
  &__text {
    grid-area: h-text;
  }
}

.min {
  &__time {
    grid-area: m-time;
    justify-self: flex-end;
  }
  &__text {
    grid-area: m-text;
  }
}

.sec {
  &__time {
    grid-area: s-time;
    justify-self: flex-end;
  }
  &__text {
    grid-area: s-text;
  }
}


.show {
  display: grid;
  grid-template-areas:
    "day date"
    "bands bands";
  grid-template-columns: min-content 1fr;
  column-gap: 30px;
  align-items: center;
  justify-content: start;
  max-width: calc(20px + $maxWidth);
  padding-right: 10px;
  padding-left: 10px;
  margin: auto;
  font-weight: 700;
  line-height: 1;
  text-align: left;
  text-transform: uppercase;
  
  &:nth-of-type(2) {
    grid-template-areas: "date day" "bands bands";
    grid-template-columns: 1fr min-content;
    justify-content: end;
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: right;
    
  }
}

.show__day {
  grid-area: day;
  font-size: 50px;
}

.show__date {
  grid-area: date;
  font-size: 30px;
  font-weight: 600;
}

.show__bands {
  grid-area: bands;
  font-size: 30px;
}