.info-page main {
  margin-bottom: 120px;

  .body-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 650px;
    padding-bottom: 60px;
    margin-bottom: 60px;
    background-image: url("../images/infoHeader.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;

    > h1 {
      font-weight: 800;
      color: white;
      text-transform: uppercase;
    }

    > p {
      font-weight: bold;
      color: white;
    }
  }
}

.info-body {
  max-width: $maxWidth;
  margin: auto;

  & > * {
    max-width: calc($maxWidth - 350px);
    margin: auto;
  }
}

.article-img {
  width: 100%;
  max-width: calc($maxWidth + 100px);
  max-height: 600px;
  margin: 30px auto 30px; 
}

.first-p {
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.1;
}

.font-hoch {
  max-width: 40%;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.1;
  border-right: 1px solid black;
}